<script>
    $(document).ready(function($){

        $("#playButton").click(function(){
            var msg = $('#msg').val();
            var voice = $('#voices').val();
            console.log(voice)
            console.log("voice")
            if (msg && voice) {
                var jqxhr = $.post( "/audioTest", {msg:msg, voice:voice}, function(data, textStatus, jqXHR) {

                    if (data.audioSource)  {
                        var audio = $('<audio></audio>')
                        audio.attr('src', data.audioSource);
                        audio[0].play();
                    }


                }).always(function(data, textStatus, jqXHR) {
                        });
            }

        })
    })
</script>



<div id="container">
    <form>
        <textarea rows="4" cols="50" id="msg" class='inputFields' placeholder="Enter a Robot Message" name="msg"></textarea></br>
        <input id="playButton" class='inputFields' type="button" value="Play">
        <select id='voices'>
        <option value='kal_diphone'>Bruce</option>
        <option value='rab_diphone'>Ricky</option>
        </select>
    </form>
    <div id="messages"></div>

    <div id="audioResponse">
    </div>
</div>
